* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.btn1 {
  padding: 12px;
  border: none;
  outline: none;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  margin-top: 12px;
  cursor: pointer;
}

.btn1:enabled {
  color: #fff;
  background-color: #f55800;
}

.btn1:hover {
  background: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.btn1:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.btn1:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

header {
  background: #3c3a39;
  width: 375px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

header .container .logo a {
  text-decoration: none;
  width: 77px;
  height: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

header .container .nav-bar {
  display: none;
  justify-content: space-between;
}

.header .container .hamburger {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.bio {
  width: 375px;
  background: #1c1a19;
  background-image: url(images/Illustration.png);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position-x: right;
  background-position-y: bottom;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  height: 590px;
}

.bio .container1 h1 {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-bottom: 12px;
}

.bio .container1 h3 {
  width: 327px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  margin-bottom: 12px;
}

.text2 p {
  width: 352px;
  height: 148px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  padding-right: 24px;
}

.bio .container1 p {
  width: 327px;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.contact-exe .social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-exe .social li {
  list-style-type: none;
}

.bio .container1 .social {
  display: flex;
  padding: 10px;
}

.lang .lang-list1 li {
  display: flex;
  list-style-type: none;
  border: 1px solid #8993a4;
  background-color: #fff;
  padding: 10px 12px;
  margin-right: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.lang .lang-list2 li {
  display: flex;
  list-style-type: none;
  border: none;
  background: rgba(255, 255, 255, 0.24);
  padding: 10px 12px;
  margin-right: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.sub-head .content-list li {
  list-style-type: none;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding-bottom: 32px;
}

.bio .container1 .social li {
  list-style-type: none;
}

.contact-exe .social li a {
  text-decoration: none;
  margin-right: 22px;
  margin-bottom: 23.06px;
}

.bio .container1 .social a {
  text-decoration: none;
  padding-right: 21px;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  width: 375px;
  background: #fff;
}

.text2 h2 {
  width: 352px;
  height: 79px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  padding-right: 24px;
}

.contact-me h2 {
  width: 327px;
  height: 216px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.works .text1 h2 {
  width: 327px;
  height: 83px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1c1a19;
}

.works .container2 img {
  width: 327px;
  height: 237px;
  margin-top: 80px;
}

.sub-head .shape-text img {
  margin-right: 12px;
  width: 18px;
  height: 18px;
}

.works .text1 h2 img {
  width: 327px;
  margin-top: 24px;
}

.container2 .sub-container h2 {
  width: 327px;
  height: 36px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  margin-top: 24px;
}

.container2 .sub-container p {
  width: 327px;
  height: 147px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin-top: 24px;
}

.lang .lang-list1 {
  display: flex;
  width: 375px;
  margin-top: 12px;
}

.sub-container button {
  padding: 12px;
  border: none;
  outline: none;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 24px;
}

.container3 {
  background-image: url(images/image\ 2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 327px;
  height: 386px;
  margin-bottom: 24px;
}

.container3 .show-text {
  display: none;
}

.container3 .sub-container2 {
  padding: 84px 16px 12px 16px;
}

.container3 .sub-container2 h2 {
  width: 295px;
  height: 81px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-bottom: 12px;
}

.container3 .sub-container2 p {
  width: 295px;
  height: 87px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 12px;
}

.lang .lang-list2 {
  display: flex;
  width: 375px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.container3 button {
  width: 327px;
  height: 48px;
  bottom: 0;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
  outline: none;
}

.about-me {
  width: 375px;
  height: 2020px;
  display: flex;
  flex-direction: column;
  padding: 120px 0 120px 24px;
  gap: 12px;
  background: #1c1a19;
}

.text2 {
  height: 78vh;
  background-image: url(images/about-img.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.text2 .btn1 {
  margin-bottom: 209px;
}

.about-me .hr2 {
  height: 1px;
  width: 90%;
}

.sub-head .shape-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-head .shape-text .dia {
  margin-right: 12px;
  width: 22px;
  height: 22px;
}

.sub-head .shape-text h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.sub-head .content-list {
  padding-bottom: 44px;
  padding-top: 44.73px;
}

.container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 24px;
  margin-top: 136.73px;
}

.contact-me {
  background: #fff;
  padding: 120px 24px 0 24px;
  width: 375px;
}

.contact-me .last {
  margin-top: 73px;
}

form input {
  border: none;
  border-bottom: 1px solid #979493;
  padding-right: 40px;
  padding-left: 16px;
  outline: none;
  margin-bottom: 39px;
  padding-bottom: 14px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  width: 327px;
}

.contact-exe .hr3 {
  height: 14px #dfe1e6;
  margin-bottom: 24.98px;
  width: 375px;
}

textarea {
  width: 330px;
  box-sizing: border-box;
  border: 1px solid #999;
  border: none;
  background: #fbf8f7;
  outline: none;
  padding: 12px;
  margin-bottom: 20px;
  padding-bottom: 90px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

.contact-me .last .form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-me .last .btn1 {
  margin-bottom: 124px;
}

.contact-exe {
  width: 375px;
  background: #fff;
}

.contact-exe .social li a img {
  width: 17.99px;
}

.main-container .container3 {
  box-shadow: 20px 20px 30px rgb(0 0 0 / 2%);
  cursor: pointer;
}

.main-container .container3:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  transition: 0.2s ease;
  transform: translateY(-3%);
  transform: scale(1.01);
}

.contact-exe .social li:hover {
  transform: scale(1.2);
}

.bio .container1 .social li:hover {
  transform: scale(1.2);
}

@media (min-width: 768px) {
  header {
    background: #3e3c3c;
    position: fixed;
    width: 100%;
    height: 72px;
  }

  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 154px;
  }

  header .container .nav-bar {
    display: flex;
    justify-content: space-between;
  }

  header .container .nav-bar a {
    text-decoration: none;
    color: #fff;
  }

  .sub-head .content-list li {
    list-style-type: none;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-bottom: 32px;
  }

  .contact-exe .social li {
    list-style-type: none;
  }

  header .container .nav-bar li {
    list-style-type: none;
    padding-right: 32px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .header .container .hamburger {
    display: none;
    font-size: 18px;
    color: #fff;
  }

  .bio {
    width: 100%;
    background: #1c1a19;
    background-image: url(images/Illustration-header.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 192px 36px;
    gap: 12px;
    height: 870px;
  }

  .bio .container1 h1 {
    width: 566px;
    height: 160px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    margin-bottom: 12px;
  }

  .bio .container1 h3 {
    width: 566px;
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #fff5e1;
    margin-bottom: 12px;
    animation-duration: 3s;
    animation-name: slidein;
  }

  .text2 p {
    width: 566px;
    height: 148px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    padding-right: 24px;
    margin-bottom: 24px;
    animation-duration: 3s;
    animation-name: slidein;
  }

  .bio .container1 p {
    width: 566px;
    height: 123px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    animation-duration: 3s;
    animation-name: slidein;
  }

  .contact-exe .social {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bio .container1 .social {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .bio .container1 .social li {
    text-decoration: none;
    padding-right: 21px;
    margin-bottom: 20.04px;
  }

  .bio .container1 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .works {
    display: flex;
    flex-direction: column;
    padding: 120px 140px;
    gap: 12px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #fff;
  }

  .text2 {
    height: 78vh;
    background-image: url(images/Group.png);
    background-size: 37%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    padding-left: 118px;
  }

  .contact-me h2 {
    min-width: 455px;
    max-height: 256px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    text-align: start;
    color: #262626;
    margin-top: 70px;
    animation-duration: 3s;
    animation-name: slidein;
  }

  .text2 h2 {
    width: 566px;
    height: 78px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    padding-right: 24px;
    margin-bottom: 24px;
    animation-duration: 3s;
    animation-name: slidein;
  }

  .text1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 40px;
  }

  .works .text1 h2 {
    width: 994px;
    height: 52px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #091e42;
    margin-bottom: 24px;
  }

  .lang .lang-list1 {
    display: flex;
    margin-top: 32px;
  }

  .lang .lang-list2 {
    display: flex;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .works .container2 img {
    width: 584px;
    height: 348px;
    margin-top: 114px;
    margin-bottom: 24px;
  }

  .sub-head .shape-text img {
    margin-right: 12px;
    width: 18px;
    height: 18px;
  }

  .works .text1 h2 img {
    display: flex;
    width: 600px;
    margin-bottom: 12px;
    margin-left: 12px;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container2 .sub-container {
    margin-top: 90px;
    margin-left: 24px;
  }

  .container2 .sub-container h2 {
    width: 448px;
    height: 48px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #091e42;
    margin-top: 24px;
    animation-duration: 3s;
    animation-name: slidein;
  }

  .container3 button {
    width: 327px;
    height: 48px;
    bottom: 0;
    background: #ff6b00;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    border: none;
    outline: none;
    margin-top: 191.5px;
  }

  .container2 .sub-container p {
    width: 75%;
    height: 140px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #091e42;
    margin-top: 24px;
    animation-duration: 3s;
    animation-name: slidein;
  }

  .main-container {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    align-items: center;
    justify-content: center;
    width: 70%;
  }

  .cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .container3 .show-text {
    display: flex;
  }

  .container3 .show-text1 {
    display: none;
  }

  .about-me {
    width: 100%;
    height: 1367px;
    display: flex;
    flex-direction: column;
    padding: 130px 0 130px 24px;
    gap: 12px;
    background: #1c1a19;
  }

  .text2 .btn1 {
    margin-bottom: 209px;
  }

  .about-me .hr2 {
    height: 1px;
    width: 85%;
    margin-left: 75px;
  }

  .sub-head .shape-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sub-head .shape-text .dia {
    margin-right: 12px;
    width: 22px;
    height: 22px;
  }

  .sub-head .shape-text h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .sub-head .content-list {
    padding-bottom: 44px;
    padding-top: 44.73px;
  }

  .container4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 146px 153px;
  }

  .contact-me {
    background: #fff;
    padding: 120px 24px 0 24px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 80px;
  }

  .contact-me .last {
    margin-top: 73px;
  }

  .text3 {
    width: 327px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 24px;
  }

  form input {
    border: none;
    border-bottom: 1px solid #979493;
    padding-right: 40px;
    padding-left: 16px;
    outline: none;
    margin-bottom: 39px;
    padding-bottom: 14px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #979493;
    width: 584px;
  }

  form input:hover {
    transform: translate(10px);
  }

  .contact-exe .hr3 {
    height: 14px #dfe1e6;
    margin-bottom: 24.98px;
    width: 100%;
  }

  textarea {
    width: 584px;
    box-sizing: border-box;
    border: 1px solid #999;
    border: none;
    background: #fbf8f7;
    outline: none;
    padding: 12px;
    margin-bottom: 20px;
    padding-bottom: 90px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #3c3a39;
  }

  textarea:hover {
    transform: translate(10px);
  }

  .contact-me .last .form-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .contact-me .last .btn1 {
    margin-bottom: 124px;
  }

  .contact-exe {
    width: 100%;
    background: #fff;
  }

  .contact-exe .social li a {
    text-decoration: none;
    margin-right: 22px;
  }

  .contact-exe .social li a img {
    width: 17.99px;
  }

  .works .main-container .show1 {
    display: none;
  }

  .works .main-container .show {
    display: none;
  }

  .main-container .container3 {
    box-shadow: 22px 22px 30px rgb(0 0 0 / 2%);
    cursor: pointer;
  }

  .works .main-container .container3 {
    padding-top: 50px;
    margin-top: 37px;
  }

  .works .box1 {
    background-image: url(images/Img\ Placeholder.png);
  }

  .works .box2 {
    background-image: url(images/Img\ Placeholder1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 327px;
    height: 386px;
  }

  .works .box3 {
    background-image: url(images/Img\ Placeholder2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 327px;
    height: 386px;
  }

  .main-container .container3:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transition: 0.2s ease;
    transform: translateY(-3%);
    transform: scale(1.03);
  }

  .contact-exe .social li:hover {
    transform: scale(1.2);
  }

  .bio .container1 .social li:hover {
    transform: scale(1.2);
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  footer {
    width: 100%;
  }
}
