* {
  margin: 0;
  padding: 0;
}

.header {
  border: 4px solid #3c3a39;
  height: 80px;
  align-items: center;
  background: #3c3a39;
  width: 375px;
}

.container {
  align-items: center;
}

.header .container {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px;
}

.contact-exe a {
  text-decoration: none;
  color: #505f79;
  margin: 24.98px 21px 26px 0;
  padding-bottom: 26px;
}

.header .container a {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.header .container .nav-bar {
  display: none;
}

.contact-exe a i {
  font-size: 24px;
}

.contact .social li a i {
  color: #fff;
}

.header .container .nav-bar i {
  color: #fff;
  cursor: pointer;
}

.header .container .hamburger {
  font-size: 18px;
  color: #fff;
}

.bio {
  width: 375px;
  background: #1c1a19;
  height: 77vh;
  padding-top: 130px;
  background-image: url(images/Illustration.png);
  background-repeat: no-repeat;
  background-size: 150px;
  background-position-x: right;
  background-position-y: bottom;
}

.bio .text-area {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.container h2 {
  height: 83px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  margin-bottom: 80px;
  padding-bottom: 24px;
  margin-top: 120px;
}

.container .hr {
  height: 83px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  border-bottom: 1px solid #212121;
  margin-bottom: 80px;
  padding-bottom: 24px;
  margin-top: 120px;
}

.bio .text-area .intro h1 {
  font-family: "Crete Round", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  color: #ff6b00;
}

.about-me .tools h3 {
  font-family: 'inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.icons .contact i h3 {
  font-size: 32px;
}

.bio .text-area .intro h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #fff5e1;
}

.about-me .container2 p {
  width: 327px;
  height: 148px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin-top: 24px;
}

.bio .text-area .intro p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  margin-top: 10px;
}

.contact .social {
  display: flex;
  justify-content: space-around;
  padding-left: 5px;
  padding-right: 100px;
  margin-top: 20px;
}

.contact .social li {
  list-style: none;
}

.about-me .tools h3 img {
  margin-right: 20px;
  color: #ff6b00;
}

.works .btn2 a {
  text-decoration: none;
  color: #fff;
}

.works .lang ul li a {
  text-decoration: none;
  color: #091e42;
}

.bio .text-area .contact a {
  text-decoration: none;
  font-size: 24px;
  color: #dbd8d7;
  align-items: center;
}

.works .container .project img {
  width: 100%;
  margin-bottom: 24px;
}

.about-me .tools .line {
  font-family: 'inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  border-top: 1px solid #fff;
  padding-top: 136.73px;
  width: 310px;
  text-align: center;
}

.about-me .tools:nth-child(3) h3 {
  margin-top: 44px;
}

.about-me .tools:nth-child(4) h3 {
  margin-top: 44px;
}

.works {
  width: 375px;
  background: #e5e5e5;
  padding-bottom: 120px;
  display: grid;
}

.works .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.works .container .project {
  display: grid;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}

.contact-me h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  text-align: center;
  margin-top: 120px;
  margin-left: 24px;
  margin-right: 24px;
}

.about-me .container2 h2 {
  width: 327px;
  height: 79px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-top: -250px;
}

.works .container .project2 h2 {
  width: 327px;
  height: 36px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 12px;
  margin-left: 10px;
}

.works .container .project .proj-txt h2 {
  width: 327px;
  height: 36px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  margin-bottom: 12px;
}

.works .container .project2 p {
  width: 295px;
  height: 87px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-left: 10px;
  margin-top: 16px;
  margin-bottom: 22px;
}

.works .container .project .proj-txt p {
  width: 327px;
  height: 147px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  display: flex;
}

.works .lang ul li {
  display: inline-block;
  text-align: center;
  justify-content: space-between;
  list-style-type: none;
}

.about-me .tools ul li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  list-style-type: none;
  text-align: center;
  margin-top: 10px;
}

.works .container .project2 .lang li {
  list-style-type: none;
  display: inline-block;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.works .container .project .proj-txt .lang li {
  list-style-type: none;
  display: inline-block;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.works .container .project2 .lang li a {
  text-decoration: none;
  display: inline-block;
  align-items: center;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
  border: 1px solid #8993a4;
  margin-right: 12px;
  padding: 10px 12px;
  margin-bottom: 38px;
  margin-top: 12px;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.about-me .container2 .btn {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #ff6b00;
  padding: 12px;
  border: none;
  outline: none;
  margin-right: 160px;
  margin-top: 24px;
  cursor: pointer;
  transition: 0.3 ease;
}

.contact-me .last .btn {
  margin-left: 0;
}

.about-me .container2 .btn:enabled {
  color: #fff;
  background-color: #f55800;
}

.about-me .container2 .btn:hover {
  background: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.about-me .container2 .btn:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.about-me .container2 .btn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.works .container .project .proj-txt .lang li a {
  text-decoration: none;
  display: inline-block;
  align-items: center;
  box-sizing: border-box;
  background-color: #fff;
  color: #091e42;
  border: 1px solid #8993a4;
  margin-right: 12px;
  padding: 10px 12px;
  margin-bottom: 12px;
  margin-top: 12px;
  cursor: pointer;
  transition: 0.3s ease;
}

.works .container .project2 .lang li a:hover {
  background-color: #091e42;
  color: #fff;
}

.works .container .project .proj-txt .lang li a:hover {
  background-color: #091e42;
  color: #fff;
}

.works .container .project .proj-txt .btn {
  display: grid;
  text-decoration: none;
  margin-right: 200px;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #ff6b00;
  color: #fff;
  border: none;
  outline: none;
  margin-bottom: 24px;
  cursor: pointer;
  transition: 0.3s ease;
}

.works .container .project .proj-txt .btn:enabled {
  color: #fff;
  background-color: #f55800;
}

.works .container .project .proj-txt .btn:hover {
  background: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.works .container .project2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  background-image: url(images/image\ 2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 456px;
  width: 95%;
  position: relative;
  margin-bottom: 24px;
}

.works .project2 .btn2 {
  display: grid;
  padding: 12px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
  outline: none;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  transition: 0.3s ease;
}

.works .project2 .btn3 {
  display: grid;
  padding: 12px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
  outline: none;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  transition: 0.3s ease;
}

.works .project2 .btn3:enabled {
  color: #fff;
  background-color: #f55800;
}

.works .project2 .btn3:hover {
  background: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.works .project2 .btn3:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.works .project2 .btn3:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.works .project2 .btn2:enabled {
  color: #fff;
  background-color: #f55800;
}

.works .project2 .btn2:hover {
  background: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.works .project2 .btn2:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.works .project2 .btn2:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.about-me {
  background: #1c1a19;
  width: 375px;
}

.about-me .container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(images/about-img.png);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position-x: right;
  background-position-y: bottom;
  height: 90vh;
}

.about-me .tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 44px;
}

.about-me .tools ul {
  margin-top: 30px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 375px;
}

form {
  display: flex;
  flex-direction: column;
  width: 87%;
  margin-top: 73px;
  margin-left: 24px;
  margin-right: 24px;
}

form button {
  display: flex;
  align-items: center;
}

form input {
  border: none;
  border-bottom: 1px solid #979493;
  padding-right: 40px;
  padding-left: 16px;
  outline: none;
  margin-bottom: 39px;
  padding-bottom: 14px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
}

form input .input1 {
  border: none;
  border-bottom: 1px solid #979493;
  padding-right: 40px;
  outline: none;
  margin-top: 73px;
  margin-bottom: 20px;
  color: #979493;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.btn button {
  padding: 12px;
  border: none;
  outline: none;
  background: #ff6b00;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 124px;
  gap: 10px;
  width: 131px;
  height: 48px;
  margin-left: 95px;
}

.btn button:enabled {
  color: #fff;
  background-color: #f55800;
}

.btn button:hover {
  background: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.btn button:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.btn button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

hr {
  height: 14px #dfe1e6;
  margin-bottom: 24.98px;
  width: 375px;
}

.contact-exe {
  text-align: center;
  width: 375px;
}

textarea {
  width: 330px;
  box-sizing: border-box;
  border: 1px solid #999;
  border: none;
  background: #fbf8f7;
  outline: none;
  padding: 12px;
  margin-bottom: 20px;
  padding-bottom: 90px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

@media (min-width: 768px) {
  .container h1 {
    height: 83px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #1c1a19;
    border-bottom: 1px solid #212121;
    margin-bottom: 80px;
    padding-bottom: 24px;
    margin-top: 120px;
  }

  .bio .text-area h1 {
    font-family: "Crete Round", sans-serif;
    font-size: 64px;
    font-weight: 500;
    line-height: 74px;
    color: #ff6b00;
  }

  .bio .text-area h3 {
    font-family: "Roboto", sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 32px;
    color: #fff5e1;
    margin-top: 10px;
  }

  .bio .text-area p {
    font-family: "Poppins", sans-serif;
    font-size: 21px;
    font-weight: 300;
    line-height: 24px;
    color: #fff;
    margin-top: 15px;
  }

  .contact {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 100px;
    margin-top: 20px;
  }

  .contact .social li {
    flex: 1;
    justify-content: space-around;
    padding-left: 5px;
    padding-right: 30px;
    margin-top: 20px;
  }

  .social li a i {
    align-items: center;
  }

  .works .container {
    padding: 0 10px;
  }

  .about-me .container2 img {
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .works .container .project img {
    display: flex;
    justify-content: flex-start;
    width: 150%;
    margin-bottom: 24px;
  }

  .works .container .project h2 {
    width: 327px;
    height: 36px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #091e42;
    margin-bottom: 12px;
  }

  .works .container .project2 h2 {
    font-size: 32px;
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 12px;
    margin-left: 10px;
  }

  .about-me .container2 p {
    font-size: 22px;
    line-height: 34px;
    color: #f4f5f7;
    margin-top: 24px;
    margin-bottom: 20px;
    width: 500px;
  }

  .works .container .project2 p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-left: 10px;
    margin-top: 16px;
    margin-bottom: 38px;
  }

  .works .project2 .btn2 {
    display: flex;
    margin-right: 200px;
    padding: 12px 300.5px;
  }

  .about-me .container2 h1 {
    margin-top: -290px;
  }

  .about-me .container2 .btn {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    background-color: #ff6b00;
    padding: 12px;
    border: none;
    outline: none;
    margin-right: 340px;
    margin-top: 24px;
  }

  .about-me .tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 44px;
  }

  .about-me .tools .line {
    font-family: 'inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    border-top: 1px solid #fff;
    padding-top: 136.73px;
    width: 510px;
    text-align: center;
  }

  .about-me .tools h3 {
    font-family: 'inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .about-me .tools ul li {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    color: #fff;
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
  }
}
